<!DOCTYPE html>
<html>
    <head>
        <title>Blog da Thais</title>
    </head>
    <body>
        <header>
            <h1>Blog da Thais</h1>
        </header>

        <article>
            <h2>
                <a href=''>
                    Postagem A
                </a>  
            </h2>
            <time>publicado em: 28/07/2021 às 20:41</time>
            <p>
                duifhasiudfhaisdfspodfaoisjdfioasjdifasijdfduifhasiudfhaisdfspodfaoisjdfioasjdifasijdfduifhasiudfhaisdfspodfaoisjdfioasjdifasijdf
            </p>
        </article>
        
        <article>
            <h2>
                <a href=''>
                    Postagem A
                </a>  
            </h2>
            <time>publicado em: 28/07/2021 às 20:41</time>
            <p>
                duifhasiudfhaisdfspodfaoisjdfioasjdifasijdfduifhasiudfhaisdfspodfaoisjdfioasjdifasijdfduifhasiudfhaisdfspodfaoisjdfioasjdifasijdf
            </p>
        </article>

    </body>
</html>