<!DOCTYPE html>
<html>
    <head>
        <title>Blog da Thais</title>
    </head>
    <body>
        <header>
            <h1>Blog da Thais</h1>
        </header>

        {%  for post in post_list  %}
           
         
        <article>
            <h2>
                <a href=''> {{ post.title }}
                </a>  
            </h2>
            <time>publicado em:  {{ post.published_date }}</time>
            <p>
                {{ post.text }}
            </p>
        </article>
    {% endfor %}

    </body>
</html>